<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.by_java_packapk_v_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pack"
        android:name="com.example.by_java_packapk_v_1.ProxyApplication">


        <meta-data android:name="APPLICATION_CLASS_NAME" android:value="com.example.pack.MyApplication"/>

<!--        脱壳后的apk的activity信息注册-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pack.MainActivity"></activity>
    </application>

</manifest>